@tailwind base;
@tailwind components;

@import "~react-image-gallery/styles/css/image-gallery.css";

@font-face {
  font-family: PeydaWeb;
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/woff2/PeydaWeb-Thin.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/woff/PeydaWeb-Thin.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWeb;
  font-style: normal;
  font-weight: 200;
  src: url("./fonts/woff2/PeydaWeb-ExtraLight.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/woff/PeydaWeb-ExtraLight.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWeb;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/woff2/PeydaWeb-Light.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/woff/PeydaWeb-Light.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWeb;
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/woff2/PeydaWeb-Medium.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/woff/PeydaWeb-Medium.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWeb;
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/woff2/PeydaWeb-Semibold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/woff/PeydaWeb-Semibold.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: PeydaWeb;
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/woff2/PeydaWeb-ExtraBold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/woff/PeydaWeb-ExtraBold.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWeb;
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/woff2/PeydaWeb-Black.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/woff/PeydaWeb-Black.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWeb;
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/woff2/PeydaWeb-Bold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/woff/PeydaWeb-Bold.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWeb;
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/woff2/PeydaWeb-Regular.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/woff/PeydaWeb-Regular.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: PeydaWebFaNum;
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/numerals/woff2/PeydaWebFaNum-Thin.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("./fonts/numerals/woff/PeydaWebFaNum-Thin.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWebFaNum;
  font-style: normal;
  font-weight: 200;
  src: url("./fonts/numerals/woff2/PeydaWebFaNum-ExtraLight.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("./fonts/numerals/woff/PeydaWebFaNum-ExtraLight.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWebFaNum;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/numerals/woff2/PeydaWebFaNum-Light.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("./fonts/numerals/woff/PeydaWebFaNum-Light.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWebFaNum;
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/numerals/woff2/PeydaWebFaNum-Medium.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("./fonts/numerals/woff/PeydaWebFaNum-Medium.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWebFaNum;
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/numerals/woff2/PeydaWebFaNum-SemiBold.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("./fonts/numerals/woff/PeydaWebFaNum-SemiBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: PeydaWebFaNum;
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/numerals/woff2/PeydaWebFaNum-ExtraBold.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("./fonts/numerals/woff/PeydaWebFaNum-ExtraBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWebFaNum;
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/numerals/woff2/PeydaWebFaNum-Black.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("./fonts/numerals/woff/PeydaWebFaNum-Black.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWebFaNum;
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/numerals/woff2/PeydaWebFaNum-Bold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("./fonts/numerals/woff/PeydaWebFaNum-Bold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: PeydaWebFaNum;
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/numerals/woff2/PeydaWebFaNum-Regular.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("./fonts/numerals/woff/PeydaWebFaNum-Regular.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

body {
  font-family: PeydaWeb;
  direction: rtl;
}
input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

@tailwind utilities;

@layer components {
  .modal-form {
    @apply flex flex-col justify-center py-12 px-10 items-center bg-white sm:w-[320px] md:w-[400px] rounded-3xl shadow-xl;
  }
  .modal-container {
    @apply w-full flex justify-center absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
  .modal-error {
    @apply bg-[#EBE5FC] w-full absolute text-lg py-3 px-4 rounded-xl -mt-[420px] text-[#290661] flex justify-center;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .button-animation {
    transition: all 0.3s ease-in-out;
  }
}
